<div class="user-greeting">
  Yo <%= @user.username %>!
</div>

<div class="logout-link">
  <a href="/logout">logout</a>
</div>

<div>
  <a href="/scrape">Scrape today's props</a>
  <a href="/props/index">View Today's Props</a>

</div>
